main {
	width: 100%;
	height: 100%;
}
main table {
	background-color: gray;
}
main table tr {
	height: 30px;
}
main table td {
	width: 30px;
	height: 30px;
}
.alive {
	background-color: black;
}
.dead {
	background-color: white;
}